body,div,h1,h2,h3,h4,h5,h6,ul,li,form,img,a{font-family:Tahoma,Arial,Microsoft Yahei,"微软雅黑",Simsun;}
.banner-name{
	font-size:32px;

}
.banner-git{
	font-size:24px;
}
.title{
	font-size:24px;
	font-family:Tahoma,Arial,Microsoft Yahei,"微软雅黑",Simsun;
}






